@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --shadow-color: hsla(217, 19%, 35%, 0.478);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    font-size: 13px;
}

* {
    font-family: Manrope, sans-serif;
}

body {
    display: flex;
    background-color: var(--light-grayish-blue);
}

main {
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 20px 20px var(--shadow-color);
    position: relative;
}

.image-holder {
    width: 100%;
    height: 100%;
}

.image-holder img {
    border-radius: 1rem 1rem 0 0;
    height: 100%;
    object-fit:cover;
}

.content-holder > .text {
    padding: 30px;
}

.content-holder > .text > h1 {
    font-size: 1.3rem;
    color: var(--very-dark-grayish-blue);
}

.content-holder > .text > p {
    margin-top: 15px;
    color: var(--desaturated-dark-blue);
    line-height: 1.7rem;
}

.base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 1rem;
    height: 4.2rem;
}

.base > .author {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.base > .author > img {
    width: 3.2rem;
    object-fit: contain;
    border-radius: 50%;
}

.base > .author > .text > .name {
    color: var(--very-dark-grayish-blue);
    font-weight: 900;
}

.base > .author > .text > .date {
    color: var(--grayish-blue);
}

.base > .share {
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    padding: 8px;
}

.mobile {
    display: flex;
    flex-direction: row;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 0 0 1rem 1rem;
    padding: 15px 30px;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 5.3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.mobile > .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.mobile > .content > .text {
    color: var(--light-grayish-blue);
    letter-spacing: .25rem;
    opacity: .5;
    font-size: .9rem;
}

.mobile > .content > .icons {
    display: flex;
    gap: 1rem;
}

.mobile > .content > .icons > img {
    width: 1.2rem;
    object-fit: contain;
}

.mobile > .share {
    border-radius: 50%;
    background-color: #6d7f99;
    padding: 8px;
}

.mobile > .share > img {
    filter:brightness(100);
}

.mobile.active {
    opacity: 1;
}

@media (min-width: 400px) {
    main {
        flex-direction: row;
        max-width: 890px;
        align-items: center;
        height: 300px;
    }

    .image-holder img {
        border-radius: 1rem 0 0 1rem;
    }

    .mobile {
        display: flex;
        opacity: 1;
        border-radius: 1rem;
        padding: 10px 30px;
        justify-content: center;
        height: auto;
        width: auto;
        bottom: 30%;
        right: -5.5%;
        opacity: 0;
        transition: all 0.2s linear;
    }

    .mobile > .content {
        z-index: 10;
        gap: 1rem;
    }

    .mobile > .share {
        position: absolute;
        bottom: -115%;
        left: 45%;
    }

    .mobile > .share > .speech-arrow {
        background-color: var(--very-dark-grayish-blue);
        padding: 10px;
        transform:rotate(45deg);
        position: absolute;
        top: -2.3rem;
        left: 20%;
        z-index: 0;
        width: 3px;
        height: 3px;
    }
}